<h1><%= @list.name %></h1>

<div class="container">
  <div class="row">


  <% @movies.each do |mov| %>
    <div class="col-4">
        <div class="card-trip my-3">
          <img src="<%= mov.poster_url %>" />
          <div class="card-trip-infos">
            <div>
              <h2><%= mov.title %></h2>
              <p><%= mov.overview %></p>
            </div>
            <h2 class="card-trip-pricing">£99.99</h2>

          </div>
      </div>
    </div>
  <% end %>

  <a class="btn btn-primary" href="<%= new_list_bookmark_path(@list) %>">Add a new movie</a>
  </div>
</div>
