<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render "shared/navbar" %>
 <div class="d-flex justify-content-between sticky-top">
    <%= cl_image_tag("alhdrdliuhac7nhjwcfx",
          width: 150, height: 150, crop: :thumb, gravity: :face) %>
              <%= cl_image_tag("alhdrdliuhac7nhjwcfx",
          width: 150, height: 150, crop: :thumb, gravity: :face) %>
 </div>

    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
